/*
!.github
!.gitignore
!.prettierrc
!.vscode
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!docs
examples/*/cdk.out
examples/*/outputs.json
examples/*/lambda/dist
examples/*/lambda/generated-resolver-types.ts
!examples
!LICENSE
!NOTICE
!package.json
!package-lock.json
!README.md
!src
!tsconfig*.json
**/.DS_Store
